/* Style for under construction page */

body {
    background: skyblue;
    margin: 0;
    padding: 0;
}

.site {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.coming-soon h1 {
    font-size: 3rem;
}

.coming-soon p {
    font-size: 1.5rem;
}

.logo img {
    width: 15%;
    border-radius: 50%;
}

.countdown h2 {
    font-size: 2.5rem;
}

.date {
    font-size: 2.8rem;
}

.date span {
    font-weight: 700;
}

.date span::before {
    content: '-';
}

.date span:first-child::before {
    content: none;
}

@media screen and (max-width: 500px) {
    .date {
        font-size: 1.8rem;
    }
}
